<form>
    <div>
        <mat-card-title class="title">Novo Pomar</mat-card-title>
    </div>
    <mat-form-field class="form">
        <mat-label>Nome:</mat-label>
        <input matInput name="nome" placeholder="Ex. Pomar32" [(ngModel)]="pomar.nome">
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Logradouro:</mat-label>
        <input matInput name="logradouro" placeholder="Ex. fila teste" [(ngModel)]="pomar.logradouro">
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Bairro / Localidade:</mat-label>
        <input matInput name="bairro" placeholder="Ex. Vila Esperança" [(ngModel)]="pomar.bairro_localidade">
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Cep:</mat-label>
        <input matInput name="cep" placeholder="88503-397" [(ngModel)]="pomar.cep">
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Cidade:</mat-label>
        <input matInput name="cidade" placeholder="Ex. São Joaquim" [(ngModel)]="pomar.cidade">
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Estado:</mat-label>
        <input matInput name="estado" placeholder="Ex. Santa Catarina" [(ngModel)]="pomar.estado">
    </mat-form-field>
 <!--
     
 -->
    <form class="example-form" >
        <mat-form-field class="example-full-width" appearance="fill" >
          <mat-label>Responsável Técnico</mat-label>
          <input type="text" name="respTecnico"  matInput [matAutocomplete]="auto" [formControl]="myFormControl" [(ngModel)]="respTecnicoSelecionado.IDRespTecnico"/>
          <mat-autocomplete #auto="matAutocomplete" >
              <mat-option *ngFor="let option of agronomos" [value]="option.IDRespTecnico">
                {{option.IDRespTecnico }} - {{ option.nome}}
              </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    
    <div class="botoes">
        <button class="botao" mat-raised-button color="primary" (click)="addPomar()">Salvar</button>
        <button class="botao" mat-raised-button color="warn" routerLink="../../../pomarProdutor/">Cancelar</button>
    </div>
</form>