<mat-sidenav-container class="container">
    <mat-sidenav mode="side" opened>
        <mat-nav-list>
            <a routerLink="" mat-list-item>
                <mat-icon>home</mat-icon>
                Home
            </a>
            <a routerLink="/produtor" mat-list-item>
                <mat-icon>how_to_reg</mat-icon>
                Produtor
            </a>
            <a routerLink="/agronomo" mat-list-item>
                <mat-icon>how_to_reg</mat-icon>
                Agrônomo
            </a>
            <a mat-list-item>
                <mat-icon>exit_to_app</mat-icon>
                Sair
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>